.from-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.from-container form input{
    width: 30%;
    height: 40px;
    font-size: medium;
    font-weight: bold;
}
.logo-btn img{
   width: 300px;
   margin-bottom: 50px;
}
#submit-btn{
    background-color: red;
    border: none;
    border-radius: 10px;
}
#login-to-singup{
    color: red;
    
}
.sing-bg{
        background-image: url('../../../../images/bannerbackground.png');
        background-repeat: no-repeat;
       background-size: 110%;
       background-position-x:-70px ;
       width: 100%;
       height: 100%; 
       padding: 30px; 

}